body{
    height: 100%;
    background-attachment: fixed;
    background-image: url(img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
}

#myCanvas {
    background-color: white;
    display: inline;
    margin-left: 5rem;
    margin-top: 150px;
    margin-right: auto;
    float: left;
}

button{
    background-color: pink;
    border-radius: 999rem;
    width: 100px;
    height:40px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    cursor: pointer;
    margin-right: auto;
    margin-right: auto;
}

button:hover{
    color: white;
    background-color: steelblue;
}

#btn_pen{
    display: inline;
    position: absolute;
    left: 1000px;
    top: 250px;
}

#btn_erase {
    display: inline;
    position: absolute;
    left: 1150px;
    top: 250px;
}

#btn_text{
    display: inline;
    position: absolute;
    left: 1300px;
    top: 250px;
}

#btn_down{
    display: inline;
    position: absolute;
    left: 1000px;
    top: 350px;
}

#btn_up{
    display: inline;
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: hidden; 
    clip: rect(0, 0, 0, 0);
}

#btn_clear{
    display: inline;
    position: absolute;
    left: 1300px;
    top: 350px;
}

#btn_undo{
    display: inline;
    position: absolute;
    left: 1000px;
    top: 450px;
}

#btn_redo{
    display: inline;
    position: absolute;
    left: 1150px;
    top: 450px;
}

#pen_bald{
    display: inline;
    position: absolute;
    top: 180px;
    left: 1000px;
    width: 100px;
}

#color_plate{
    display: inline;
    position: absolute;
    top: 175px;
    left: 1300px;
}

#btn_circle{
    display: inline;
    position: absolute;
    left: 1300px;
    top: 450px;
}

#btn_square{
    display: inline;
    position: absolute;
    left: 1000px;
    top: 550px;
}

#btn_triangle{
    display: inline;
    position: absolute;
    left: 1150px;
    top: 550px;
}

#btn_line{
    display: inline;
    position: absolute;
    left: 1300px;
    top: 550px;
}

#btn_fill{
    display: inline;
    position: absolute;
    left: 1000px;
    top: 650px;
}

#btn_unfill{
    display: inline;
    position: absolute;
    left: 1150px;
    top: 650px;
}

#btn_rainbow{
    display: inline;
    position: absolute;
    left: 1300px;
    top: 650px;
}

#up_label{
    background-color: pink;
    border-radius: 999rem;
    width: 100px;
    height:40px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    cursor: pointer;
    margin-right: auto;
    margin-right: auto;
    display: inline;
    position: absolute;
    left: 1150px;
    top: 350px;
}

#up_icon{
    position: absolute;
    left: 70px;
    top: 13px;
}

#up_label:hover{
    color: white;
    background-color: steelblue;
}

#up_word{
    font-weight: normal;
    display: inline;
    position: absolute;
    left: 20px;
    top: 10px
}

#textbox{
    position: absolute;
}

#title{
    font-family: 'Lobster', cursive;
    font-size: 50px;
    text-shadow: 2px 2px grey;
    letter-spacing: 3px;
    display: inline;
    position: relative;
    right: 317px;
    top: 50px;
    animation: mymove 4.5s ease, mycolor 5s infinite linear alternate;
}

@keyframes mymove {
    from {right: 740px;}
    to {right: 317px;}
}

@keyframes mycolor{
    14%   {color:red;}
    28%   {color:orange;}
    42%   {color:yellow;}
    56%   {color:green;}
    72%   {color:blue;}
    86%   {color:indigo;}
    100%   {color:purple;}
}

.star{
    width: 35px;
    height: 35px;
}

#star1{
    display: inline;
    position: relative;
    right: 1000px;
    top: 0px;
    animation: mymove1 1.5s;
    animation-timing-function: ease;
}

@keyframes mymove1 {
    from {top: -40px;}
    to {top: 0px;}
}

#star2{
    display: inline;
    position: relative;
    right: 100px;
    top: 50px;
    animation: mymove2 2s;
    animation-timing-function: ease;
}

@keyframes mymove2 {
    from {top: 0px;}
    to {top: 50px;}
}

#star3{
    display: inline;
    position: relative;
    right: 330px;
    top: 0px;
    animation: mymove3 2s;
    animation-timing-function: ease;
}

@keyframes mymove3 {
    from {top: -45px;}
    to {top: 0px;}
}

#star4{
    display: inline;
    position: relative;
    animation: mymove4 2s;
    animation-timing-function: ease;
}

@keyframes mymove4 {
    from {top: -15px;}
    to {top: 0px;}
}

#star5{
    display: inline;
    position: relative;
    right: 990px;
    top: 50px;
    animation: mymove5 3s;
    animation-timing-function: ease;
}

@keyframes mymove5 {
    from {top: -15px;}
    to {top: 50px;}
}

#star6{
    display: inline;
    position: relative;
    right: 820px;
    top: 20px;
    animation: mymove6 4s;
    animation-timing-function: ease;
}

@keyframes mymove6 {
    from {top: -35px;}
    to {top: 20px;}
}

#font_size{
    display: inline;
    position: absolute;
    top: 175px;
    left: 1360px;
}

#font_chosen{
    display: inline;
    position: absolute;
    top: 175px;
    left: 1150px;
}